.achievement {
  padding-top: 38px;
  background-color: rgb(242, 242, 242);
  min-height: 566px;
  outline: 1px solid black;
  @media ($tablet) {
    order: 4;
    background-color: $white-color;
  }
  @media ($desktop) {
    width: 100%;
  }

  .border-wrapper {
    @media ($desktop) {
      padding: 0 60px;
    }
  }
}

.achievement__title {
  margin: 0;
  padding: 0 15px;;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: rgb(210, 40, 86);
  text-transform: uppercase;
  text-align: center;
}

.achievement__list {
  margin: 0;
  padding: 0;
  list-style: none;
  @media ($tablet) {
    margin-left: 60px;
  }
  @media ($desktop) {
    height: 50px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0;
  }
}
