.application {
  background-color: rgb(242, 242, 242);
  padding-top: 37px;
  min-height: 303px;
  outline: 1px solid black;
  @media ($tablet) {
    order: 2;
    background-color: $white-color;
  }
  @media ($desktop) {
    width: 50%;
  }
}

.application__content-wrapper {
  width: 280px;
  margin: 0 auto;
  padding: 0 20px;
}

.application__title {
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: rgb(210, 40, 86);
  text-transform: uppercase;
  text-align: center;
}

.application__list {
  margin: 0;
  padding: 0;
  list-style: none;
}
