.application {
  background-color: rgb(242, 242, 242);
  padding-top: 37px;
  padding-bottom: 3px;
  @media ($tablet) {
    padding-top: 11px;
    padding-bottom: 0;
    order: 2;
    background-color: $white-color;
  }
  @media ($desktop) {
    padding-top: 0;
    margin-top: 79px;
    width: 50%;
    padding-left: 4%;
    box-sizing: border-box;
  }
}

.application__content-wrapper {
  width: 280px;
  margin: 0 auto;
  padding: 0 20px;
}

.application__title {
  position: relative;
  margin: 0;
  margin-bottom: 39px;
  padding: 0;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: rgb(210, 40, 86);
  text-transform: uppercase;
  text-align: center;
  z-index: 1;
  @media ($tablet) {
    margin-top: -10px;
    margin-bottom: 48px;
    margin-left: auto;
    margin-right: auto;
    background-color: $white-color;
    width: 330px;
  }
  @media ($desktop) {
    width: 365px;
  }
}

.application__list {
  margin: 0;
  padding: 0;
  list-style: none;
  @media ($tablet) {
    padding-left: 48px;
  }
}

.application__item {
  margin-bottom: 45px;
}
