.btn {
  display: block;
  text-decoration: none;
  text-align: center;
  font-family: "Open Sans", "Arial", sans-serif;

  &--download {
    width: 250px;
    padding: 15px 10px;
    margin: 0 auto;
    margin-bottom: 35px;
    border: 4px solid $white-color;
    border-radius: 27px;
    font-size: 18px;
    line-height: 18px;
    font-weight: 700;
    color: $white-color;
  }

  &--send-form {
    width: 280px;
    margin: 0 auto;
    margin-top: 48px;
    padding: 16px 5px;
    font-size: 18px;
    line-height: 30px;
    font-weight: 700;
    color: $white-color;
    text-transform: uppercase;
    background-color: rgb(42, 171, 109);
    border: none;
    border-radius: 2px;
    @media ($tablet) {
      width: 300px;
      margin: 0;
    }
  }
}
