.contact-info {
  padding-top: 31px;
  padding-bottom: 26px;
  background-color: $white-color;
  @media ($tablet) {
    padding-bottom: 0;
    padding-top: 0;
    margin-top: 58px;
    order: 3;
  }
  @media ($desktop) {
    width: 100%;
    margin-top: 4px;
  }

  .border-wrapper {
    display: flex;
    flex-direction: column;
    @media ($tablet) {
      padding: 0 60px;
      padding-top: 47px;
    }
    @media ($desktop) {
      flex-direction: row;
      justify-content: space-between;
      flex-wrap: wrap;
      padding-top: 45px;
    }
  }
}

.contact-info__title {
  display: none;
  margin: 0;
  padding: 0 15px;;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: rgb(210, 40, 86);
  text-transform: uppercase;
  text-align: center;
  @media ($tablet) {
    display: block;
    width: 230px;
    margin: 0 auto;
    margin-bottom: -10px;
    position: relative;
    background-color: $white-color;
  }
  // @media ($desktop) {
  //   margin: 0 auto;
  //   margin-top: -20px;
  // }
}

.contact-info__content-wrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  @media ($tablet) {
    position: relative;
    margin-bottom: 30px;

    &::after {
      content: "";
      width: 62px;
      height: 62px;
      position: absolute;
      top: -2px;
      right: -2px;
      background-color: rgb(190, 194, 199);
    }
  }
  @media ($desktop) {
    width: 45.6%;
    margin-bottom: 11px;
  }

  .label {
    @media ($tablet) {
      padding-left: 17px;
      order: 2;
    }
  }

  .input {
    @media ($tablet) {
      padding-left: 18px;
      padding-right: 60px;
      margin-bottom: 13px;
      order: 1;
    }
  }
}
