.contact-info {
  padding-top: 32px;
  background-color: $white-color;
  outline: 1px solid black;
  min-height: 256px;
}

.contact-info__content-wrapper {
  width: 280px;
  margin: 0 auto;
  padding: 0 20px;
}
