.copyrights {
  margin-top: 39px;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  text-align: center;
  @media ($tablet) {
    margin-top: 0;
  }
}

.copyrights__link {
  font-size: 0;
  line-height: 0;
}
