.features {
  padding-top: 45px;
  background-color: $white-color;
  @media ($desktop) {
    padding-top: 67px;
  }
}

.features__text {
  margin: 0;
  margin-bottom: 34px;
  font-size: 24px;
  line-height: 26px;
  font-weight: 300;
  text-align: center;
  @media ($tablet) {
    margin-bottom: 0;
    font-size: 40px;
    line-height: 50px;
  }
  @media ($desktop) {
    width: 735px;
    margin: 0 auto;
    font-size: 50px;
    line-height: 60px;
  }

  &--br {
    @media ($tablet) {
      padding: 0 40px;
    }
    @media ($desktop) {
      width: 725px;
      padding: 0;
    }
  }
}

.features__wrapper {
  padding-top: 83px;
  background-color: rgb(242, 242, 242);
  background-image: url("../img/bg-triangle-white.svg");
  background-repeat: no-repeat;
  background-position: top;
  background-size: 100%;
  @media ($tablet) {
    padding-top: 0;
    margin-top: 49px;
  }
  @media ($desktop) {
    margin-top: 75px;
    padding-bottom: 67px;
  }

  .container {
    @media ($tablet) {
      display: flex;
    }
  }
}

.features__list {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
  @media ($tablet) {
    width: 50%;
    margin-top: 71px;
    text-align: left;
    order: 2;
  }
  @media ($desktop) {
    display: flex;
    justify-content: space-between;
    width: auto;
    margin-top: 0;
  }
}

.features__item {
  margin-bottom: 30px;
  @media ($tablet) {
    margin-bottom: 33px;
  }
  @media ($desktop) {
    width: 32%;
    text-align: center;
  }
}

.features__item-picture {
  display: none;
  @media ($desktop) {
    display: block;
    margin-bottom: 53px;
  }
}

.features__item-title {
  margin: 0;
  margin-bottom: 13px;
  padding: 0;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  color: $black-color;
  @media ($desktop) {
    padding: 0 30px;
    margin-bottom: 25px;
    font-size: 30px;
    line-height: 30px;
  }
}

.features__item-text {
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: rgb(40, 54, 69);
  @media ($desktop) {
    padding: 0 30px;
    font-size: 18px;
    line-height: 30px;
  }
}

.features__hello-picture {
  min-height: 285px;
  background-color: rgb(242, 242, 242);
  background-image: url("../img/iphone-screen-mobile@1x.png");
  background-position: 50% 9px;
  background-repeat: no-repeat;
  font-size: 0;
  @media ($retina) and ($mobile-only) {
    background-image: url("../img/iphone-screen-mobile@2x.png");
    background-size: 157px;
  }
  @media ($tablet) {
    width: 268px;
    min-height: 483px;
    margin-right: 42px;
    background-color: transparent;
    background-image: url("../img/iphone-screen-3-tablet@1x.png");
    background-position: 50% 2px;
    background-size: auto;
    @media ($retina) {
      background-image: url("../img/iphone-screen-3-tablet@2x.png");
      background-size: 268px;
    }
  }
  @media ($desktop) {
    display: none;
  }
}

.features__science {
  display: none;
  padding-top: 50px;
  background-color: $white-color;
  @media ($tablet) {
    display: block;
  }
  @media ($desktop) {
    padding-top: 30px;
    background-color: rgb(242, 242, 242);
  }
}

.features__science-picture {
  min-width: 235px;
  min-height: 203px;
  position: relative;
  margin-right: 10px;
  padding-top: 83px;
  padding-left: 64px;
  background-color: $white-color;
  background-image: url("../img/icon-timer.svg");
  background-repeat: no-repeat;
  background-position: 3px 9px;
  background-size: 235px;
  font-size: 96px;
  line-height: 150px;
  font-weight: 700;
  color: $red-color;
  @media ($desktop) {
    min-height: 250px;
    margin-right: 51px;
    padding-left: 80px;
    padding-top: 96px;
    font-size: 120px;
    line-height: 186px;
    background-color: rgb(242, 242, 242);
    background-size: 300px;
    background-position: 0;
  }

  &::after {
    content: "";
    position: absolute;
    top: 62px;
    left: 19px;
    width: 174px;
    height: 174px;
    border: 14px solid $red-color;
    border-radius: 50%;
    @media ($desktop) {
      top: 69px;
      left: 23px;
      width: 219px;
      height: 219px;
      border-width: 17px;
    }
  }
}

.features__science-title {
  margin: 0;
  margin-top: 43px;
  margin-bottom: 11px;
  padding: 0;
  padding-right: 130px;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  color: $black-color;
  @media ($desktop) {
    margin-top: 92px;
    margin-bottom: 22px;
  }
}

.features__science-text {
  margin: 0;
  margin-bottom: 11px;
  padding: 0;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: rgb(40, 54, 69);
  @media ($desktop) {
    padding-right: 20px;
    margin-bottom: 31px;
    font-size: 18px;
    line-height: 30px;
  }
}

.features__science-more {
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: rgb(210, 40, 86);
  @media ($desktop) {
    font-size: 18px;
    line-height: 30px;
  }
}
