.features {
  padding-top: 45px;
  background-color: $white-color;
  @media ($desktop) {
    padding-top: 67px;
  }
}

.features__text {
  margin: 0;
  margin-bottom: 34px;
  font-size: 24px;
  line-height: 26px;
  font-weight: 300;
  text-align: center;
  @media ($tablet) {
    margin-bottom: 0;
    font-size: 40px;
    line-height: 50px;
  }
  @media ($desktop) {
    width: 735px;
    margin: 0 auto;
    font-size: 50px;
    line-height: 60px;
  }

  &--br {
    @media ($tablet) {
      padding: 0 40px;
    }
    @media ($desktop) {
      width: 725px;
      padding: 0;
    }
  }
}

.features__wrapper {
  background-color: rgb(242, 242, 242);
  padding-top: 83px;
  @media ($tablet) {
    padding-top: 0;
    margin-top: 49px;
  }
  @media ($desktop) {
    margin-top: 75px;
    padding-bottom: 67px;
  }

  .container {
    @media ($tablet) {
      display: flex;
    }
  }
}

.features__list {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
  @media ($tablet) {
    width: 50%;
    margin-top: 71px;
    text-align: left;
    order: 2;
  }
  @media ($desktop) {
    display: flex;
    justify-content: space-between;
    width: auto;
    margin-top: 0;
  }
}

.features__item {
  margin-bottom: 30px;
  @media ($tablet) {
    margin-bottom: 33px;
  }
  @media ($desktop) {
    width: 32%;
    text-align: center;
  }
}

.features__item-picture {
  display: none;
  @media ($desktop) {
    display: block;
    margin-bottom: 53px;
  }
}

.features__item-title {
  margin: 0;
  margin-bottom: 13px;
  padding: 0;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  color: $black-color;
  @media ($desktop) {
    padding: 0 30px;
    margin-bottom: 25px;
    font-size: 30px;
    line-height: 30px;
  }
}

.features__item-text {
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: rgb(40, 54, 69);
  @media ($desktop) {
    padding: 0 30px;
    font-size: 18px;
    line-height: 30px;
  }
}

.features__hello-picture {
  min-height: 285px;
  background-color: rgb(242, 242, 242);
  background-image: url("../img/iphone-screen-mobile@1x.png");
  background-position: 50% 9px;
  background-repeat: no-repeat;
  font-size: 0;
  @media ($tablet) {
    width: 268px;
    min-height: 483px;
    margin-right: 42px;
    background-size: cover;
    background-position: 50% 2px;
    overflow: visible;
    order: 1;
  }
  @media ($desktop) {
    display: none;
  }
}

.features__science {
  display: none;
  padding-top: 50px;
  background-color: $white-color;
  @media ($tablet) {
    display: block;
  }
  @media ($desktop) {
    padding-top: 30px;
    background-color: rgb(242, 242, 242);
  }
}

.features__science-picture {
  min-width: 300px;
  min-height: 285px;
  margin-right: 10px;
  background-color: rgb(222, 222, 222);
  background-image: url("");
  font-size: 0;
  @media ($desktop) {
    min-height: 348px;
    margin-right: 67px;
  }
}

.features__science-title {
  margin: 0;
  margin-top: 43px;
  margin-bottom: 11px;
  padding: 0;
  padding-right: 130px;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  color: $black-color;
  @media ($desktop) {
    margin-top: 92px;
    margin-bottom: 22px;
  }
}

.features__science-text {
  margin: 0;
  margin-bottom: 11px;
  padding: 0;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: rgb(40, 54, 69);
  @media ($desktop) {
    padding-right: 20px;
    margin-bottom: 31px;
    font-size: 18px;
    line-height: 30px;
  }
}

.features__science-more {
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: rgb(210, 40, 86);
  @media ($desktop) {
    font-size: 18px;
    line-height: 30px;
  }
}
