.form-promo {
  min-height: 135px;
  margin-top: -66px;
  padding-top: 102px;
  background-color: rgb(44, 57, 74);
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-position: 50% 24%;
  background-repeat: no-repeat;
  @media ($tablet) {
    margin-top: -110px;
    padding-top: 192px;
    min-height: 248px;
    background-size: cover;
  }
  @media ($desktop) {
    padding-top: 184px;
    min-height: 210px;
  }
}

.form-promo__title {
  margin: 0;
  padding: 0;
  font-size: 24px;
  line-height: 30px;
  font-weight: 300;
  color: $white-color;
  text-align: center;
  @media ($tablet) {
    font-size: 50px;
    line-height: 60px;
  }
}
