.form-promo {
  min-height: 142px;
  padding-top: 27px;
  background-color: rgb(44, 57, 74);
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-position: 50% 24%;
  background-repeat: no-repeat;
}

.form-promo__content-wrapper {
  width: 280px;
  padding: 0 20px;
  margin: 0 auto;
}

.form-promo__title {
  margin: 0;
  padding: 0;
  font-size: 24px;
  line-height: 30px;
  font-weight: 300;
  color: $white-color;
  text-align: center;
}
