.get-app {
  background-color: rgb(29, 38, 49);
}

.get-app__wrapper {
  width: 320px;
  margin: 0 auto;
  background-color: rgb(29, 38, 49);
  outline: 1px solid yellow;
}

.get-app__title {
  display: none;
}

.get-app__picture {
  height: 395px;
  background-image: url("../img/iphone-hand-mobile@1x.png"),
                    url("../img/bg-back-mobile@1x.jpg");
  background-position: 47% 100%,
                       50% 100%;
  background-repeat: no-repeat,
                     no-repeat;
}

.get-app__content-wrapper {
  width: 280px;
  margin: 0 auto;
  padding: 0 20px;
  padding-top: 28px;
  padding-bottom: 30px;
}

.get-app__text {
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 24px;
  color: $white-color;
  font-weight: 300;
  text-align: center;
}
