.logo-header {
  min-width: 280px;
  margin: 0 auto;
  margin-bottom: 1px;
  padding: 21px 20px;
  box-shadow: 0 1px 0 0 $black-color;
  @media ($tablet) {
    padding: 32px 20px;
  }
  @media ($desktop) {
    padding: 0;
    margin: 0;
    margin-right: 39px;
    display: flex;
    align-items: center;
    background-color: transparent;
    box-shadow: none;
  }
}

.logo-header__img {
  @media ($tablet) {
  width: 150px;
  height: 40px;
  }
}
