.main-nav {
  z-index: 10;
  background-color: rgb(40, 54, 69);
  @media ($desktop) {
    display: flex;
    padding-top: 29px;
    background-color: transparent;
  }

  &--closed {
    background-color: transparent;
    .main-nav__toggle {
      background-image: url("../img/icon-menu-burger.svg");
    }
    .logo-header {
      box-shadow: none;
    }
    .main-nav__items {
      display: none;
    }
  }
}

.main-nav__items {
  margin: 0;
  padding: 0;
  list-style: none;
  @media ($desktop) {
    display: flex;
    min-width: 621px;
    justify-content: space-between;
    flex-grow: 1;
  }
}

.main-nav__item {
  margin-bottom: 1px;
  box-shadow: 0 1px 0 0 $black-color, inset 0 1px 0 0 rgba(255, 255, 255, 0.15);
  @media ($desktop) {
    background-color: transparent;
    box-shadow: none;
  }

}

.main-nav__link {
  display: block;
  font-size: 18px;
  line-height: 32px;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: $white-color;
  padding: 16px 0;
  @media ($desktop) {
    line-height: 18px;
    font-weight: 400;
    text-transform: none;
  }

  &:hover {
    color: rgb(210, 40, 86);
  }

  &:active {
    color: rgba(210, 40, 86, 0.3);
  }
}

.main-nav__toggle {
  width: 50px;
  height: 24px;
  position: absolute;
  top: 20px;
  right: 19px;
  font-size: 0;
  border: none;
  background-image: url("../img/icon-menu-cross.svg");
  background-repeat: no-repeat;
  background-color: transparent;
  background-position: 100% 50%;
  @media ($tablet) {
    top: 45px;
  }
  @media ($desktop) {
    display: none;
  }

  &:hover {
    cursor: pointer;
  }
}
