.offer {
  background-color: $white-color;
  padding-top: 45px;
  @media ($tablet) {
    padding-top: 92px;
  }
}

.offer__text {
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 30px;
  font-weight: 400;
  color: rgb(40, 54, 69);
  text-align: center;
  @media ($tablet) {
    font-size: 18px;
    padding: 0 65px;
  }
  @media ($desktop) {
    padding: 0 90px;
  }
}

.offer__text-please {
  display: none;
  @media ($tablet) {
    display: inline;
  }
}

.offer__form {
  display: flex;
  flex-direction: column;
  margin-bottom: 12px;
  @media ($tablet) {
    margin-bottom: 50px;
  }
  @media ($desktop) {
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0 1%;
    margin-bottom: 0;

    .container {
      padding: 0;
    }
  }
}
