.page-footer {
  display: none;
  background-color: $white-color;
  padding-top: 42px;
  padding-bottom: 50px;
  @media ($tablet) {
    display: block;
    padding-top: 36px;
    .container {
      display: flex;
    }
  }
  @media ($desktop) {
    padding-top: 68px;
  }

  &--show {
    display: block;
  }
}

.page-footer__logo {
  text-align: center;
  @media ($tablet) {
    margin-bottom: 10px;
  }
  @media ($desktop) {
    margin-right: 15px;
  }
}

.page-footer__content-wrapper {
  width: 280px;
  margin: 0 auto;
  padding: 0 20px;
}
