.photos-content {
  padding-top: 45px;
  padding-bottom: 40px;
  background-color: $white-color;
  @media ($tablet) {
    padding-top: 92px;
    margin-bottom: 29px;
  }
  @media ($desktop) {
    margin-bottom: 26px;
  }
}

.photos-content__content-wrapper {
  width: 280px;
  padding: 0 20px;
  margin: 0 auto;
}

.photos-content__text {
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 30px;
  font-weight: 400;
  text-align: center;
  @media ($tablet) {
    padding: 0 50px;
    font-size: 18px;
  }
  @media ($desktop) {
    padding: 0 150px;
  }
  &--bottom {
    margin-top: 40px;
    @media ($tablet) {
      margin-top: 65px;
    }
    @media ($desktop) {
      margin-top: 26px;
    }
  }
}
