.photo-promo {
  min-height: 141px;
  padding-top: 91px;
  margin-top: -66px;
  background-color: rgb(44, 57, 74);
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-position: 50% 4%;
  background-repeat: no-repeat;
  @media ($retina) {
    background-image: url("../img/bg-back-mobile@2x.jpg");
    background-size: 700px;
  }
  @media ($tablet) {
    min-height: 259px;
    margin-top: -110px;
    padding-top: 176px;
    background-size: cover;
  }
  @media ($desktop) {
    min-height: 220px;
    padding-top: 174px;
  }
}

.photo-promo__title {
  margin: 0;
  padding: 0;
  font-size: 24px;
  line-height: 30px;
  font-weight: 300;
  color: $white-color;
  text-align: center;
  @media ($tablet) {
    font-size: 50px;
    line-height: 60px;
  }
  @media ($desktop) {
    padding: 0 150px;
  }
}
