.prices {
  padding-top: 92px;
  padding-bottom: 47px;
  background-color: rgb(242, 242, 242);
  overflow: hidden;
  @media ($tablet) {
    padding-top: 68px;
    padding-bottom: 9px;
  }
  @media ($desktop) {
    padding-top: 142px;
    padding-bottom: 96px;
  }

  .container {
    min-height: 280px;
    @media ($desktop) {
      min-height: 280px;
    }
  }
}
