.reviews {
  padding-top: 44px;
  padding-bottom: 42px;
  background-color: $white-color;
  @media ($tablet) {
    margin-top: 38px;
  }
  @media ($desktop) {
    margin-top: 0;
    padding-top: 170px;
    padding-bottom: 5px;
    background-image: url("../img/icon-quotes.svg");
    background-repeat: no-repeat;
    background-position: center 70px;
  }

  .container {
    position: relative;
  }
}

.reviews__slide {
  &--2 {
    display: none;
  }
  &--3 {
    display: none;
  }
}

.reviews__item {
  margin: 0;
  margin-bottom: 30px;
  padding: 0;
  text-align: center;
  @media ($tablet) {
    margin-bottom: 33px;
    display: flex;
    flex-direction: column;
  }
}

.reviews__author-name {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  font-style: normal;
  @media ($tablet) {
    font-size: 20px;
    line-height: 32px;
    order: 2;
  }
  @media ($desktop) {
    font-size: 24px;
  }
}

.reviews__author-info {
  display: none;
  font-size: 14px;
  line-height: 30px;
  font-weight: 400;
  color: rgb(40, 54, 69);
  @media ($tablet) {
    display: block;
  }
  @media ($desktop) {
    font-size: 18px;
  }
}

.reviews__text {
  position: relative;
  margin: 0 auto;
  margin-top: 14px;
  padding: 0;
  font-size: 14px;
  line-height: 30px;
  font-weight: 400;
  color: rgb(40, 54, 69);
  @media ($tablet) {
    margin-bottom: 35px;
    font-size: 18px;
    order: 1;
  }
  @media ($desktop) {
    width: 80%;
    padding: 0 10%;
  }
  //
  // &::before,
  // &::after {
  //   display: none;
  //   content: "";
  //   width: 21px;
  //   height: 42px;
  //   outline: 1px solid black;
  //   position: absolute;
  //   top: 30%;
  //   background-repeat: no-repeat;
  //   background-position: 50%;
  //   opacity: 0.3;
  //   @media ($desktop) {
  //     display: block;
  //   }
  // }
  //
  // &::before {
  //   left: 0;
  //   background-image: url("../img/icon-review-arrow-left.svg");
  // }
  //
  // &::after {
  //   right: 0;
  //   background-image: url("../img/icon-review-arrow-right.svg");
  // }
  //
  // &:hover::before,
  // &:hover::after {
  //   cursor: pointer;
  //   opacity: 0.6;
  // }
  //
  // &:active::before,
  // &:active::after {
  //   opacity: 0;
  // }
}

.reviews__quotes {
  @media ($desktop) {
    display: none;
  }
}
