$white-color: rgb(255, 255, 255);
$black-color: rgb(0, 0, 0);
$red-color: rgb(210, 40, 86);
$mobile-only: #{"max-width: 659px"};
$tablet-only: #{"min-width: 660px) and (max-width:959px"};
$tablet: #{"min-width: 660px"};
$pre-desktop: #{"max-width: 959px"};
$desktop: #{"min-width: 960px"};
$retina: #{"min-resolution: 2dppx"};

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/opensans.woff2") format("woff2"), url("../fonts/opensans.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/opensanslight.woff2") format("woff2"), url("../fonts/opensanslight.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/opensansbold.woff2") format("woff2"), url("../fonts/opensansbold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

body {
  min-width: 320px;
  margin: 0;
  padding: 0;
  font-family: "Open Sans", "Arial", sans-serif;
  background-color: $white-color;
}
