.social-links {
  width: 63%;
  margin: 0 auto;
  padding: 0;
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
  list-style: none;
  @media ($tablet) {
    margin-top: 0;
    width: 28.7%
  }
  @media ($desktop) {
    width: 21.3%
  }
}
