@import "global.scss";

//index.html
@import "page-header.scss";
@import "logo-header.scss";
@import "main-nav.scss";
@import "get-app.scss";
@import "btn.scss";
@import "systems.scss";
@import "features.scss";
@import "reviews.scss";
@import "prices.scss";
@import "feedback.scss";
@import "map.scss";
@import "page-footer.scss";

//form.html
@import "form-promo.scss";
@import "offer.scss";
@import "subscribe-info.scss";
@import "text-label.scss";
@import "achievement.scss";
@import "contact-info.scss";
@import "application.scss";
@import "comment.scss";
@import "social-links.scss";
@import "copyrights.scss";


//photo.html
@import "photo-promo.scss";
@import "photos-content.scss";
@import "users-photos.scss";
@import "like-counter.scss";
@import "user-post.scss";
