.subscribe-info {
  padding-top: 34px;
  min-height: 369px;
  @media ($tablet) {
    order: 1;
  }
  @media ($desktop) {
    width: 50%;
  }
}

.subscribe-info__content-wrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  @media ($tablet) {
    flex-direction: row;
  }
}
