.subscribe-info {
  padding-top: 34px;
  padding-bottom: 24px;
  @media ($tablet) {
    padding-top: 74px;
    padding-bottom: 0;
    order: 1;
  }
  @media ($desktop) {
    width: 50%;
    margin-top: 87px;
    padding-top: 0;
    padding-right: 4%;
    box-sizing: border-box;
  }
}

.subscribe-info__content-wrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  @media ($tablet) {
    flex-direction: row;
    align-items: center;
    margin-bottom: 57px;
  }
}
