.text-label {
  display: block;
  padding-left: 23px;
  font-size: 14px;
  line-height: 30px;
  font-weight: 400;
  color: rgb(210, 40, 86);
  text-transform: uppercase;
  @media ($tablet) {
    display: inline-block;
    margin-right: 20px;
    padding-left: 0;
    vertical-align: top;
  }
}
