.users-photos {
  margin-top: 50px;

  .container {
    @media ($tablet) {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }
  }
}

.users-photos__panorama {
  margin-bottom: 20px;
}

.users-photos__panorama-photo {
  position: relative;
  text-align: center;
  @media ($tablet) {
    min-height: 509px;
    background-color: pink;
  }
}

.users-photos__item {
  margin-top: 21px;
  @media ($tablet) {
    // width: 300px;
    width: 48.4%;
    background-color: pink;
    display: flex;
    flex-direction: column;
  }
  @media ($desktop) {
    width: 31.9%;
  }
}

.users-photos__img {
  vertical-align: bottom;
}

.users-photos__daily-panorama {
  position: absolute;
  top: 0;
  right: 0;
}

.users-photos__comment {
  margin: 0;
  padding: 0;
  padding-top: 17px;
  padding-left: 18px;
  padding-bottom: 22px;
  color: rgb(40, 54, 69);
  background-color: rgb(242, 242, 242);
  @media ($tablet) {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }

  &--panorama {
    @media ($tablet) {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;

      .users-photos__comment-author {
        order: 1;
      }

      .like-counter {
        margin-top: 0;
        order: 2;
      }

      .users-photos__comment-text {
        order: 3;
      }
    }
  }
}

.users-photos__comment-author {
  margin: 0;
  padding: 0;
  font-size: 12px;
  line-height: 24px;
  font-weight: 300;
  text-transform: uppercase;
  font-style: normal;
}

.users-photos__comment-name {
  font-size: 14px;
  font-weight: 700;
  text-transform: none;
}

.users-photos__comment-text {
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
}

.users-photos__photo {
  text-align: center;
}
