.user-post {
  background-color: rgb(242, 242, 242);
  padding-top: 21px;
  padding-bottom: 28px;
  @media ($tablet) {
    padding-top: 57px;
    padding-bottom: 53px;
  }
  @media ($desktop) {
    padding-top: 0;
    padding-bottom: 0;
    margin-bottom: 29px;
    background-color: $white-color
  }
}
