.get-app {
  min-height: 243px;
  margin-top: -71px;
  padding-top: 489px;
  background-color: rgb(29, 38, 49);
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-position: top center;
  background-repeat: no-repeat;
  @media ($retina) and ($mobile-only) {
    background-image: url("../img/bg-back-mobile@2x.jpg");
    background-size: 700px;
  }
  @media ($tablet) {
    margin-top: -110px;
    padding-top: 199px;
    min-height: 525px;
    background-image: url("../img/bg-back-tablet@1x.jpg");
    background-position: 50%;
    background-size: auto;
    @media ($retina) {
      background-image: url("../img/bg-back-tablet@2x.jpg");
      background-size: 1200px;
    }
  }
  @media ($desktop) {
    min-height: 636px;
    padding-top: 217px;
    background-image: url("../img/bg-back-desktop@1x.jpg");
    background-size: auto;
    background-position: 50%;
    @media ($retina) {
      background-image: url("../img/bg-back-desktop@2x.jpg");
      background-size: 2560px;
    }
  }

  .container {
    position: relative;
  }
}

.get-app__wrapper {
  position: relative;
  z-index: 1;
  @media ($tablet) {
      width: 48.4%;
  }
  @media ($desktop) {
      width: 32%;
  }
}

.get-app__title {
  display: none;
  margin: 0;
  margin-bottom: 32px;
  padding: 0 50px;
  font-size: 40px;
  line-height: 47px;;
  font-weight: 300;
  color: $white-color;
  text-align: center;
  @media ($tablet) {
    display: block;
  }
  @media ($desktop) {
    margin-bottom: 50px;
    font-size: 50px;
    line-height: 61px;
    padding: 0 32px;
  }
}

.get-app__text {
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 24px;
  color: $white-color;
  font-weight: 300;
  text-align: center;
  @media ($tablet) {
    font-size: 18px;
  }
}

.get-app__img-wrapper {
  position: absolute;
  width: 258px;
  top: -313px;
  left: 0;
  z-index: 0;
  overflow: hidden;
  @media ($tablet) {
    width: 660px;
    top: -20px;
    left: -20px;
  }
  @media ($desktop) {
    width: 940px;
    top: -9px;
    left: 27px;
  }
}
