.modal-send {
  display: none;
  padding-bottom: 50px;
  position: fixed;
  top: 50%;
  left: 0;
  z-index: 20;
  background-color: $white-color;
  @media ($tablet) {
    width: 460px;
    left: 50%;
    margin-left: -230px;
    padding-bottom: 52px;
    box-shadow: 0 7px 15px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
  }

  &--ok {
    margin-top: -190px;
    background-color: rgb(242, 242, 242);
    @media ($tablet) {
      margin-top: -215px;
      padding-bottom: 36px;
    }
    @media ($desktop) {
      width: 780px;
      margin-left: -390px;
    }

    .modal-send__text {
      padding-bottom: 33px;
      margin-bottom: 48px;
      @media ($desktop) {
        padding-bottom: 37px;
        padding-left: 170px;
        padding-right: 170px;
      }
    }
  }

  &--error {
    margin-top: -145px;
    @media ($tablet) {
      margin-top: -180px;
    }
    .modal-send__text {
      margin-bottom: 40px;
    }
  }

  &--show {
    display: block;
  }

  .container {
    background-color: $white-color;
  }
}

.modal-send__title {
  margin: 0;
  padding: 0;
  padding-bottom: 32px;
  padding-top: 45px;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  text-align: center;
  background-color: $white-color;
  @media ($tablet) {
    padding: 0 100px;
    padding-top: 40px;
    padding-bottom: 29px;
    font-size: 30px;
    line-height: 40px;
  }
  @media ($desktop) {
    padding-top: 45px;
  }
}

.modal-send__text {
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  text-align: center;
  @media ($tablet) {
    font-size: 18px;
    padding: 0 50px;
  }
  @media ($desktop) {
    padding: 0 65px;
  }
}
