.page-header {
  position: relative;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.3);
  @media ($desktop) {
    min-height: 110px;
  }
}

.page-header__content-wrapper {
  @media ($desktop) {
    width: 940px;
    padding: 0 10px;
    margin: 0 auto;
  }
}
