.photo-promo {
  min-height: 141px;
  padding-top: 95px;
  margin-top: -71px;
  background-color: rgb(44, 57, 74);
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-position: 50% 4%;
  background-repeat: no-repeat;
  @media ($retina) and ($mobile-only) {
    background-image: url("../img/bg-back-mobile@2x.jpg");
    background-size: 700px;
  }
  @media ($tablet) {
    min-height: 259px;
    margin-top: -110px;
    padding-top: 176px;
    background-image: url("../img/bg-back-tablet@1x.jpg");
    background-size: auto;
    background-position: 50% 4%;
    @media ($retina) {
      background-image: url("../img/bg-back-tablet@2x.jpg");
      background-size: 1200px;
      background-position: 50% 1%;
    }
  }
  @media ($desktop) {
    min-height: 220px;
    padding-top: 174px;
    background-image: url("../img/bg-back-desktop@1x.jpg");
    background-size: auto;
    background-position: 50% 0;
    @media ($retina) {
      background-image: url("../img/bg-back-desktop@2x.jpg");
      background-size: 2560px;
      background-position: 50% -3%;
    }
  }
}

.photo-promo__title {
  margin: 0;
  padding: 0;
  font-size: 24px;
  line-height: 30px;
  font-weight: 300;
  color: $white-color;
  text-align: center;
  @media ($tablet) {
    font-size: 50px;
    line-height: 60px;
  }
  @media ($desktop) {
    padding: 0 150px;
  }
}
