.social-links {
  width: 63%;
  margin: 0 auto;
  padding: 0;
  margin-top: 35px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  @media ($tablet) {
    margin-top: 0;
    width: 29%;
  }
  @media ($desktop) {
    width: 19%;
  }
}

.social-links__item {
  font-size: 0;
  background-position: 50%;
  background-repeat: no-repeat;
  border: 3px solid rgba(40, 53, 69, 0.1);
  border-radius: 50%;

  &:hover {
    border: 3px solid rgb(40, 53, 69);
  }

  &:active {
    border: 3px solid rgba(40, 53, 69, 0.1);
  }

  &--twitter {
    background-image: url("../img/icon-twitter.svg");

    &:active {
      background-image: url("../img/icon-twitter-active.svg");
    }
  }

  &--facebook {
    background-image: url("../img/icon-facebook.svg");

    &:active {
      background-image: url("../img/icon-facebook-active.svg");
    }
  }

  &--youtube {
    background-image: url("../img/icon-youtube.svg");

    &:active {
      background-image: url("../img/icon-youtube-active.svg");
    }
  }
}

.social-links__link {
  display: block;
  width: 45px;
  height: 45px;
}
