.systems {
  margin-bottom: 19px;
  @media ($tablet) {
    margin-bottom: 36px;
  }
  @media ($desktop) {
    margin-bottom: 52px;
  }
}

.systems__items {
  margin: 0;
  padding: 0 38px;
  list-style: none;
  display: flex;
  justify-content: space-between;
  min-height: 55px;
  font-size: 0;
  line-height: 0;
  @media ($tablet) {
    padding: 0 47px;
  }
}

.systems__item {
  font-size: 0;
  width: 46px;
  height: 56px;
  background-repeat: no-repeat;
  background-position: 50%;
  &--apple {
    background-image: url("../img/logo-apple.svg");
  }
  &--android {
    background-image: url("../img/logo-android.svg");
  }
  &--winphone {
    background-image: url("../img/logo-microsoft.svg");
  }
}

.systems__link {
  display: block;
  width: 100%;
  height: 100%;
}
