.users-photos {
  margin-top: 50px;
  @media ($tablet) {
    margin-top: 76px;
  }
  @media ($desktop) {
    margin-top: 88px;
  }

  .container {
    @media ($tablet) {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }
  }
}

.users-photos__panorama {
  margin-bottom: 18px;
  @media ($tablet) {
    margin-bottom: 32px;
  }
}

.users-photos__panorama-photo {
  display: flex;
  justify-content: center;
  overflow: hidden;
  position: relative;
  background-color: rgb(239, 218, 218);
  @media ($tablet) {
    min-height: 509px;
  }
  @media ($desktop) {
    min-height: 506px;
    background-color: transparent;
  }
}

.users-photos__item {
  margin-top: 18px;
  background-color: rgb(239, 218, 218);
  @media ($tablet) {
    width: 48.4%;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
  }
  @media ($desktop) {
    width: 31.9%;
    margin-bottom: 33px;
  }

  .users-photos__comment {
    @media ($tablet) {
      min-height: 109px;
    }
  }
}

.users-photos__img {
  vertical-align: bottom;
  max-width: 100%;
  height: 100%;
  @media ($desktop) {
    margin-right: 10px;
  }

  &--panorama {
    display: block;
    margin: 0 auto;
    max-width: none;
    @media ($desktop) {
      margin: 0 auto;
    }
  }

  &:hover {
    cursor: pointer;
  }
}

.users-photos__daily-panorama {
  position: absolute;
  top: 0;
  left: 50%;
  padding: 5px 20px;
  font-size: 12px;
  line-height: 24px;
  font-weight: 700;
  color: $white-color;
  text-transform: uppercase;
  background-color: $red-color;
  @media ($tablet) {
    top: 57px;
    margin-left: 169px;
    padding: 6px 20px;
  }
  @media ($desktop) {
    top: 54px;
    margin-left: 330px;
  }
}

.users-photos__comment {
  margin: 0;
  padding: 0;
  padding-top: 17px;
  padding-left: 18px;
  padding-bottom: 22px;
  color: rgb(40, 54, 69);
  background-color: rgb(242, 242, 242);
  @media ($tablet) {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding-top: 24px;
    padding-left: 27px;
  }

  &--panorama {
    @media ($tablet) {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;

      .users-photos__comment-author {
        order: 1;
      }

      .like-counter {
        margin-top: 0;
        padding-right: 59px;
        order: 2;

        &::before {
          left: 72%;
        }
      }

      .users-photos__comment-text {
        order: 3;
      }
    }

    @media ($desktop) {

      .like-counter {
        padding-right: 62px;

        &::before {
          left: 70%;
        }
      }
    }
  }
}

.users-photos__comment-author {
  margin: 0;
  padding: 0;
  font-size: 12px;
  line-height: 24px;
  font-weight: 300;
  text-transform: uppercase;
  font-style: normal;
}

.users-photos__comment-name {
  font-size: 14px;
  font-weight: 700;
  text-transform: none;
}

.users-photos__comment-text {
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  @media ($tablet) {
    padding-right: 10px;
  }
}

.users-photos__photo {
  text-align: center;
  @media ($tablet) {
    min-height: 300px;
  }
  @media ($desktop) {
    min-height: 400px;
  }
}
